/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
:root {
    --base-button-color: #42940F;
    --base-active-button-color: #1F5200;
}

body {
    background: #E5E5E5;
    font-family: Arial, sans-serif;
}

.header {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 30px 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    height: fit-content;
}

.card {
    background: #FFFFFF;
    width: 380px;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 45px -4px rgba(0, 0, 0, 0.18);
}

.card__image {
    height: 215px;
    width: 380px;
    object-fit: cover;
    object-position: 0 -255px;
    border-radius: 12px 12px 0 0;
}

.card__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    margin: 24px 24px 0 24px;
}

.card__description {
    font-size: 16px;
    line-height: 24px;
    margin: 16px 24px 0 24px;
}

.card__button {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: var(--base-button-color);
    height: 48px;
    text-transform: uppercase;
    margin: 24px;
    border-radius: 8px;
    border: 2px solid var(--base-button-color);
    background-color: #FFFFFF;
    cursor: pointer;
}

.card__button:hover {
    color: #FFFFFF;
    background-color: var(--base-button-color);
}

.card__button:active {
    color: #FFFFFF;
    background-color: var(--base-active-button-color);
    border-color: var(--base-active-button-color);
}

.card__button:disabled {
    color: #FFFFFF;
    background-color: #4E4E4E;
    border: none;
    cursor: auto;
}

.options {
    position: absolute;
    padding-top: 17px;
    display: flex;
    flex-direction: row;
}

.card__label {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 0 16px;
    margin-left: 17px;
}
.new {
    background-color: #FDCFF3;
}

.last {
    background-color: #FFCF56;
}



