/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
body {
    background: #E5E5E5;
    font-family: Arial, sans-serif;
}

.header {
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    height: fit-content;
}

.card {
    background: #FFFFFF;
    width: 380px;
    border-radius: 12px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 45px -4px rgba(0, 0, 0, 0.18);
}

.orange {
    height: 215px;
    width: 380px;
    object-fit: cover;
    object-position: 0px -255px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.card__title {
    display: block;
    font-weight: 900;
    font-size: 24px;
    padding: 24px 24px 0 24px;
    line-height: 36px;
}

.card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 24px 0 24px;
}

.card__button {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #42940F;
    height: 48px;
    width: 332px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 24px;
    border-radius: 8px;
    border: 2px solid #42940F;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card__button:hover {
    color: #FFFFFF;
    background-color: #42940F;
}

.card__button:active {
    color: #FFFFFF;
    background-color: #1F5200;
    border: 2px solid #1F5200;
}

.card__button:disabled {
    color: #FFFFFF;
    background-color: #4E4E4E;
    border: none;
    cursor: auto;
}

.new {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #FDCFF3;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    width: 110px;
    height: 24px;
    margin-left: 17px;
    margin-right: 15px;
    line-height: 24px;
}

.last {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #FFCF56;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    width: 134px;
    height: 24px;
    line-height: 24px;
}

.options {
    position: absolute;
    padding-top: 17px;
}

